.phone {
  width: 345px;
  height: 647px;
  background-color: #000000;
  padding: 15px 20px;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  margin: 10px 0px 10px 0px;
  padding: 5px 9px 5px 9px;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #565656;
}

.tag:first-child {
  background-color: white;
  color: black;
}

.container {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "one two"
    "three three"
    "four five"
    "six six";
  gap: 13px;
}

.menu {
  border-radius: 20px;
  padding: 15px 15px 10px 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu:first-child {
  grid-area: one;
  background-color: #292d33;
  border: 1px solid #f6f4f0;
}

.menu:first-child > .spanbox {
  color: #f6f4f0;
}

.bar-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 3px;
}

.percentage {
  color: #f6f4f0;
  font-size: 14px;
}

.bar {
  width: 63%;
  height: 5px;
  background-color: #f6f4f0;
  border-radius: 5px;
}

.menu:nth-child(2) {
  grid-area: two;
  background-color: #f6f4f0;
}
.menu:nth-child(3) {
  grid-area: three;
  background-color: #fafec3;
  font-size: 25px;
}
.menu:nth-child(4) {
  grid-area: four;
  background-color: #b7a6f8;
}
.menu:nth-child(5) {
  grid-area: five;
  background-color: #ffd6d6;
}
.menu:last-child {
  grid-area: six;
  background-color: #d0fedd;
  font-size: 25px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.button {
  padding: 6px 10px;
  border-radius: 15px;
  border: 1px solid #272626;
  background-color: #ffdd2c;
}

.cost {
  background-color: #e9affc;
}

.number {
  background-color: #f6f4f0;
}
