@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;

  background-color: orange;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.o-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-column {
  width: 97%;
  height: 97%;
  background-color: orange;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid red;
}

.menu {
  display: grid;
  grid-template-columns: 5% 65% 30%;
}

.type {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 1px solid red;
  font-size: 18px;
}

.title {
  color: red;
  border: 1px solid red;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.button__column {
  color: red;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.button-title {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.button-space {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: red;
  color: orange;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: white;
  border: 1px solid white;
}

.selectedbtn {
  background: white;
}

.p-column {
  width: 3%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 32px;
}

.sidebar-a {
  background-color: #fc38ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  writing-mode: vertical-lr;
  padding-top: 10px;
}

.sidebar-b {
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-top: 10px;
}

.r-column {
  width: 37%;
  background-color: red;
  display: grid;
  grid-template-rows: 7% 93%;
}

.header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.header__column--item:first-child {
  padding-left: 10px;
}

.header__column--item:last-child {
  padding-right: 10px;
}

.press {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.content {
  border-top: 1.5px solid black;
  padding: 10px;
}

.content__title {
  font-size: 24px;
  font-weight: 600;
}

.content__text {
  font-size: 14px;
}
